<div class="progress-bar progress-bar-striped progress-bar-animated" style="   height: 5px;  width: 34%;">

</div>
<div class="slider">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="" style="cursor: pointer;"></li>
            <li data-target="#demo" data-slide-to="1" style="cursor: pointer;"></li>
            <li data-target="#demo" data-slide-to="2" style="cursor: pointer;"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active item1 position-realtive">
                <img src="images/46.jpg" alt="New York">
                <div>
                    <div class="item_sub1">
                        <img src="images/menu-slider3.png" alt="">
                    </div>
                    <div class="item_sub2">
                        <img src="images/menu-slider6.png" alt="">
                    </div>
                    <div class="item_sub3">
                        <img src="images/menu-slider4.png" alt="">
                    </div>
                    <div class="item_sub4">
                        <img src="images/menu-slider.png" alt="">
                    </div>
                    <div class="item_sub5">
                        <img src="images/menu-slider1.png" alt="">
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <img src="images/48.jpg" alt="Chicago">
            </div>
            <div class="carousel-item ">
                <img src="images/44.jpg" alt="Los Angeles">
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>


</div>

<div class="menu">
    <div class="container py-5">
        <h1>WHAT'S FOR BREAKFAST?</h1>
        <div class="row breakfast">


            <div class="col-12  col-md-6">


                <h5> <a> French Crostini</a> $19.00
                </h5>
                <p>
                    Thinly sliced bread brushed with olive oil and toasted
                </p>
                <h5> <a> Bialy Egg Sandwich</a> $18.00
                </h5>
                <p>
                    Layered with two fried eggs, roasted tomatoes, basil
                </p>
                <h5> <a>Multigrain Hot Cereal</a> $14.00
                </h5>
                <p>
                    Served with berry compote and sliced almonds
                </p>
                <h5> <a>Lemon Yogurt Parfait</a> $16.00
                </h5>
                <p>
                    Greek yogurt layered with lemon curd</p>
            </div>
            <div class="col-12 col-md-6">


                <h5> <a> French Toast</a> $10.00
                </h5>
                <p>
                    Thinly sliced bread brushed with olive oil and toasted
                </p>
                <h5> <a> Fried Egg Sandwich</a> $10.00
                </h5>
                <p>
                    Layered with two fried eggs, roasted tomatoes, basil
                </p>
                <h5><a> Multigrain Hot Cereal</a> $17.00
                </h5>
                <p>
                    Served with berry compote and sliced almonds
                </p>
                <h5><a> Branch Special</a> $12.00
                </h5>
                <p>
                    Greek yogurt layered with lemon curd</p>
            </div>
        </div>
    </div>
</div>

<div class="breadalternate">
    <div class="container d-flex align-items-center">



        <div class="bg-white py-5 text-center w-50 mx-auto">
            <h1>BREAD MENU</h1>
            <P>Delicious Alternatives</P>

            <h3 class="mt-5"> SEED RYE BAGUETTE</h3>
            <p class="py-3">
                Our version of a French baguette with a soft interior and crispy crust
            </p>
            <h3>SEMOLINA ROSEMARY </h3>
            <p class="py-3">
                Made from the hardest core of the wheat rosemary and coarse sea salt
            </p>
            <h3> WHOLE WHEAT CIDER</h3>
            <p class="py-3">
                Combines organic whole wheat flour, sesame seeds
            </p>


        </div>
    </div>

</div>




<div class="breadmenu py-5">



    <div id="exTab1" class="container d-flex py-5">
        <ul class="nav nav-pills btn-group-vertical col-3">
            <li class="active pt-0">
                <a href="#1a" data-toggle="tab">KAIRSER ROLL</a>
            </li>
            <li><a href="#2a" data-toggle="tab">APRICOT NUT</a>
            </li>
            <li><a href="#3a" data-toggle="tab">ONION BIALY</a>
            </li>
            <li><a href="#4a" data-toggle="tab">CIABATTA</a>
            </li>
            <li class="pb-0"><a href="#5a" data-toggle="tab">RYE BREAD</a>
            </li>
        </ul>

        <div class="tab-content clearfix col-9">
            <div class="tab-pane fadeIn active" id="1a">
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <h2>UNSPEAKABLY GOOD</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut laoreet dolore magna aliquam erat volutpat lorem ipsum.
                                <br> Edge Themes give you everything you need to create an amazing website. Designed and built with care, filled with creative elements and useful options, and completely user-friendly. Set up your website quickly and with
                                ease.
                            </p>
                        </div>
                        <div class="col-2">
                            <img src="images/menubreakfast1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fadeIn" id="2a">
                <div class="container">
                    <div class="row">




                        <div class="col-10">
                            <h2>BEAUTIFUL FOOD</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut laoreet dolore magna aliquam erat volutpat lorem ipsum.
                                <br> Edge Themes give you everything you need to create an amazing website. Designed and built with care, filled with creative elements and useful options, and completely user-friendly. Set up your website quickly and with
                                ease.
                            </p>
                        </div>
                        <div class="col-2">
                            <img src="images/menubreakfast2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fadeIn" id="3a">
                <div class="container">
                    <div class="row">




                        <div class="col-10">

                            <h2>DELICIOUS</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut laoreet dolore magna aliquam erat volutpat lorem ipsum.
                                <br> Edge Themes give you everything you need to create an amazing website. Designed and built with care, filled with creative elements and useful options, and completely user-friendly. Set up your website quickly and with
                                ease.
                            </p>
                        </div>
                        <div class="col-2">
                            <img src="images/menubreakfast3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fadeIn" id="4a">
                <div class="container">
                    <div class="row">




                        <div class="col-10">
                            <h2>CROISSANT SANDWICH</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut laoreet dolore magna aliquam erat volutpat lorem ipsum.
                                <br> Edge Themes give you everything you need to create an amazing website. Designed and built with care, filled with creative elements and useful options, and completely user-friendly. Set up your website quickly and with
                                ease.
                            </p>
                        </div>
                        <div class="col-2">
                            <img src="images/menubreakfast4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fadeIn" id="5a">
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <h2>UNSPEAKABLY GOOD</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut laoreet dolore magna aliquam erat volutpat lorem ipsum.
                                <br> Edge Themes give you everything you need to create an amazing website. Designed and built with care, filled with creative elements and useful options, and completely user-friendly. Set up your website quickly and with
                                ease.
                            </p>
                        </div>
                        <div class="col-2">
                            <img src="images/menubreakfast5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="upcoming_product">
    <div class="wrapper">
        <h1 class="text-white font-weight-bold text-center text-white pt-5">Up Coming Product</h1>
        <div class="item ">
            <div class="upitem1">
                <div class="overlay container">
                    <h1 class="text-center pt-5 text-white font-weight-bold">Brown Sugar Pie</h1>
                    <h2 class="text-white"> Ingredients</h2>
                    <ul class="font-weight-bold text-white">
                        <li>All-Purpose Flour</li>
                        <li>Brown Sugar</li>
                        <li>Evaporated Milk</li>
                        <li>Butter</li>
                        <li>Salt</li>
                        <li>vanilla Extract</li>
                    </ul>
                </div>
            </div>
            <div class="upitem2">
                <div class="overlay container">
                    <h1 class="text-center pt-5 font-weight-bold text-white">Cherry Pie With Stars</h1>
                    <h2 class="text-white">Ingredients</h2>
                    <ul class="font-weight-bold text-white">
                        <li>
                            frozen tart red cherries, thawed</li>
                        <li>sugar </li>
                        <li>
                            quick-cooking tapioca
                        </li>
                        <li>
                            teaspoon salt
                        </li>
                        <li>
                            fresh lemon juice
                        </li>
                        <li>
                            almond extract
                        </li>
                        <li>
                            refrigerated piecrusts
                        </li>
                        <li>
                            egg, lightly beaten
                        </li>
                    </ul>
                </div>
            </div>
            <div class="upitem3">
                <div class="overlay container">
                    <h1 class="text-center pt-5 font-weight-bold text-white">Cherry Pie With Stars</h1>
                    <h2 class="text-white">Ingredients</h2>
                    <ul class="font-weight-bold text-white">
                        <li> Maida / All Purpose Flour </li>
                        <li> Milk Powder </li>
                        <li> Powdered Sugar </li>
                        <li> Baking Soda </li>
                        <li> Baking Powder </li>
                        <li> Salt </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="products_items container">

    <div class="p_item1">
        <a href="french-pastry.html">
            <div class="overlayitem">

            </div>
        </a>
    </div>
    <div class="p_item2">
        <a href="amazing_stuff.html">
            <div class="overlayitem">

            </div>
        </a>
    </div>
    <div class="p_item3">
        <a href="beauty&flavor.html">


            <div class="overlayitem">

            </div>
        </a>
    </div>
    <div class="p_item4">
        <a href="endlessvariation.html">


            <div class="overlayitem">

            </div>
        </a>
    </div>
    <div class="p_item5">
        <a href="applying-glazes.html">


            <div class="overlayitem">

            </div>
        </a>
    </div>
    <div class="p_item6">
        <a>
            <div class="overlayitem">

            </div>
        </a>
    </div>
</div>