<header class=" navbar1 slideOutDown">
    <div class=" hes w-100">
        <a class="gus">
            <img src='./../../assets/images/gustos.png'>
        </a>
        <button class="menu-toggler">
                <span class=""> </span>
                <span></span>
                <span></span>
              </button>
        <ul class="animated navbar-menu bounce mb-0 pb-0">
            <li class="animated "> <a [routerLink]="['/']"> WELCOME</a></li>
            <li><a [routerLink]="['/menu']" routerLinkActive="active"> MENU</a></li>
            <li><a [routerLink]="['/reservation']" routerLinkActive="active"> RESERVATIONS</a></li>
            <li><a [routerLink]="['/news']" routerLinkActive="active"> NEWS</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="active"> CONTACT</a></li>
        </ul>
        <div class="soci">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>
</header>
<div class="progress-bar progress-bar-striped progress-bar-animated">
</div>








<router-outlet></router-outlet>