<div class="" style="overflow: hidden;">



    <section class="sec">
        <div class="wrapper">
            <div class="seco ">
                <h1 class="">Pastry with Love</h1>
                <p>We’re bringing you fresh ingredients every day in ways you can’t resist.</p>
                <button>OUR MENU</button>
            </div>
        </div>
    </section>
    <section class=" my-5 py-5">

        <div class="art container-fluid">


            <div class="artc py-5">
                <div class="container-fluid">
                    <p class="a font-weight-bold">Art of Cakes</p>
                    <p class="b pb-4">we create delicious memories</p>
                    <p class="c">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
                        neque sed.
                    </p>
                    <p class="d">Chef Cook</p>
                    <div class="e">
                        <p class="e1">Benito</p>
                        <img src="../../assets/../../assets/images/7.png" alt="circle" height="100px" width="100px">
                        <p class="e2">Gaspare</p>
                    </div>
                    <div class="f">
                        <p class="f2">"</p>
                        <p class="f1">Unique creations for unique occasions.</p>
                        <p class="f3">"</p>
                    </div>
                </div>
            </div>

            <div class="taste py-5 ">
                <article cl>

                    <img src="../../assets/images/8.png">
                </article>
                <article>
                    <img src="../../assets/images/9.png">
                </article>
                <article>
                    <img src="../../assets/images/10.png">
                </article>
                <article>

                    <img src="../../assets/images/11.png" class="bo">
                    <div style="display: none;">
                        <p class="tasty"> TASTES SO GOOD!</p>
                        <img src="../../assets/images/12.png" class="ce">
                    </div>
                </article>
            </div>
        </div>

    </section>

    <section class="pod">

        <div class="ac">
            <img src="../../assets/images/14.png" class="podi" alt="">
        </div>
        <div class="cont container py-5 ">
            <div class="con pt-5">
                <p class="conta text-center pt-5 ">Tasty pancakes</p>
                <h5 class="pt-3" class="contb">Season Favourite</h5>

                <div class="conb ">
                    <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.</p>
                </div>
            </div>
            <div class="cir position-realtive">
                <div class="carouselExampleControls" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid" style="justify-content: space-evenly;
                            display: flex;">


                                <img src="../../assets/images/20.png" alt="Los Angeles">
                                <img src="../../assets/images/21.png" alt="Los Angeles">
                                <img src="../../assets/images/22.png" alt="Los Angeles"> </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid" style="justify-content: space-evenly;
                            display: flex;">


                                <img src="../../assets/images/20.png" alt="Los Angeles">
                                <img src="../../assets/images/21.png" alt="Los Angeles">
                                <img src="../../assets/images/22.png" alt="Los Angeles"> </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid" style="justify-content: space-evenly;
                            display: flex;">


                                <img src="../../assets/images/20.png" alt="Los Angeles">
                                <img src="../../assets/images/21.png" alt="Los Angeles">
                                <img src="../../assets/images/22.png" alt="Los Angeles"> </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>



            </div>
            <div class="tag">
                <p class="taga">Ready in
                    <span>40 </span> mins
                </p>
            </div>
        </div>

    </section>

    <section class="shutter">

        <div class="le mx-auto w-50">
            <div class="l1">
                <p class="l1a">Breakfast</p>
                <p class="l1b">
                    7AM BREAKFAST? WE'RE OPEN!</p>
            </div>
            <div class="l2">
                <p class="l2a">Full breakfast</p>
                <p class="l2b">Duis ut tortor, et risus, vulputate pretium</p>
            </div>
            <div class="l3">
                <p class="l3a"> $12.49</p>
            </div>
            <div class="l4">
                <p class="l4a">Toast & Jam</p>
                <p class="l4b">Suspendisse, tempus, nterdum</p>
                <p class="l4c">$4.90</p>
            </div>
            <div class="l5">
                <p class="l5a">Muffins</p>
                <p class="l5b">Fusce eget dui sodales est</p>
                <p class="l5c">$3.95</p>
            </div>
        </div>

        <div class="re rea">
            <div class="re b">
                <div class="re c">
                    <div class="container pt-5">
                        <p>
                            EST.
                        </p>
                        <p class="pc">1893</p>
                    </div>

                    <img class="pc1" src="../../assets/images/19.png">
                    <p class="pb pb-3 pt-5">Your morning Escape with Flair</p>
                    <p class="pa">Donec vitae sapien ut libero venenatis faucibus.Nullam quis ante. Etiam sit amet orci eget erosfaucibus tincidunt. Duis leo.</p>
                    <button class="qw btn btn-outline-warning qw">
                            Read
                        </button>

                </div>
            </div>
        </div>

    </section>

    <section class="bott py-4">
        <div class="body">
            <h1 class="a mt-4"> The Jibarito Sandwich </h1>
            <p class="b pt-5">The Best Sandwich you’ve ever Tasted!</p>
            <div class="ct">


                <aside class="cia">
                    <div class="cira">
                        <img src="../../assets/images/20.png" alt="">
                        <p class="q">Class aptent</p>
                        <p class="ea">Qout alienum persecuti ut eam, nam ad atqui primis nusquam.</p>
                    </div>

                    <div class="cira">
                        <img src="../../assets/images/21.png" alt="">
                        <p class="q">Nulla eget</p>
                        <p class="ea">Nullam dictum felis eu pede mollis pretium Integer tincidunt.</p>
                    </div>

                    <div class="cira">
                        <img src="../../assets/images/22.png" alt="">
                        <p class="q">Sed nibh purus</p>
                        <p class="ea">Aenean elelfend tellus leo ligula, porttitor eu, consequat vitae.</p>
                    </div>
                </aside>

                <aside class="ty">
                    <div class="te">
                        <div class="tya">
                            <p class="t">PREP</p>
                            <p class="tt">15</p>
                            <p class="ttt">mins</p>
                        </div>
                        <div class="tyb">
                            <p class="t">COOK</p>
                            <p class="tt">35</p>
                            <p class="ttt">mins</p>
                        </div>
                        <div class="tyc">
                            <p class="t">READY IN</p>
                            <p class="tt">50</p>
                            <p class="ttt">mins</p>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="full"> FULL RECIPE</button>
                    </div>
                </aside>

            </div>

        </div>
    </section>
    <footer>
        <ul class="at">
            <li class="uy" class="pe"><a href=""> OUR MENU </a> </li>
            <li class="uy"><a>GALLERY</a></li>
            <li class="uy"><a>CULTURE</a></li>
            <li class="uy" class="uya"><a>Gustoso</a></li>
            <li class="uy" class="ua"><a href="">EVENTS</a></li>
            <li class="uy"><a>CATERING</a></li>
            <li class="uy"><a>VISIT US</a></li>
        </ul>
    </footer>
</div>