<!-- Button trigger modal -->



<div class="container-fluid">
    <ul class="nav nav-tabs mt-5">
        <li class="nav-item m-2" *ngFor="let d of dates; index as i">
            <a class="nav-link border" data-toggle="tab" [href]="'#a'+i"> {{d.days}} {{d.date}} {{d.month}}
          </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade container-fluid " [id]="'a'+i" *ngFor="let item of dates; index as i">
            {{i}}
            <div *ngIf="item.days !== 'Sun'; else nextavail">
                <ul class="list-unstyled text-center row">
                    <h2> Morning </h2>
                    <li *ngFor="let t of timing; index as i">
                        <a class=" " *ngIf="t.Morning">
                            <button type="button" class="btn btn-outline-success m-2" data-toggle="modal" [attr.data-target]="'#' + item.month + item.date + i">
                                  {{t.Morning}}
                          </button>
                            <!-- Modal -->
                            <div class="modal fade" [id]="item.month + item.date + i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{t.Morning}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3 class="text-left"> Morning </h3>
                                            <h4>{{item.month + item.date}}</h4>
                                            <input type="text" placeholder="Enter your Mobile No" class="form-control">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" [value]="item.date+ '-' + item.month + '-' + item.year" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled text-center row">
                    <h2> Afternoon </h2>
                    <li *ngFor="let t of timing; index as i">
                        <a *ngIf="t.Afternoon">
                            <button type="button" class="btn btn-outline-warning m-2" data-toggle="modal" [attr.data-target]="'#' + item.month +  item.date + i  ">
                                {{t.Afternoon}} 
                            </button>

                            <div class="modal fade" [id]="item.month + item.date + i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Afternoon</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <h4> {{item.month + item.date}} </h4>
                                            <h3 class="text-left"> {{t.Afternoon}} </h3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" [value]="item.date+ '-' + item.month + '-' + item.year">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled text-center row">
                    <h2> Evening </h2>
                    <li *ngFor="let t of timing; index as i">
                        <a class=" " *ngIf="t.Evening ">
                            <button type="button" class="btn btn-outline-danger m-2" data-toggle="modal" [attr.data-target]="'#' + item.month + item.date + i ">
                              {{t.Evening}}
                      </button>
                            <!-- Modal -->
                            <div class="modal fade" [id]="item.month + item.date + i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Evening</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3 class="text-left"> {{t.Evening}} </h3>
                                            <h4>{{item.month + item.date}}</h4>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" [value]="item.date+ '-' + item.month + '-' + item.year">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <ng-template #nextavail>
                <h2><a data-toggle="tab" class="nav-link border" [href]='"#"+ i+1'>Please Check the Next Availability </a></h2>
            </ng-template>


        </div>
    </div>
    <!-- <section class="regular slider ">
  <div>
      <img src="http://placehold.it/350x300?text=1 ">
  </div>
  <div>
      <img src="http://placehold.it/350x300?text=2 ">
  </div>
  <div>
      <img src="http://placehold.it/350x300?text=3 ">
  </div>
  <div>
      <img src="http://placehold.it/350x300?text=4 ">
  </div>
  <div>
      <img src="http://placehold.it/350x300?text=5 ">
  </div>
  <div>
      <img src="http://placehold.it/350x300?text=6 ">
  </div>
</section> -->